<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- 輸出到檔案 -->
		<target name="logfile" xsi:type="File" fileName="logs/${shortdate}_log.txt" layout="${longdate} ${level} ${message} ${exception}" />
		
		<!-- 記錄外部 API 呼叫專用的檔案 -->
		<target name="apilog" xsi:type="File" fileName="logs/api_${shortdate}_log.txt"
				layout="${longdate} ${level} [API] ${message} ${exception}" />
	</targets>

	<rules>
		<!-- 設定紀錄全部錯誤的級別 -->
		<logger name="*" minlevel="Error" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="apilog" />
	</rules>
</nlog>